@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oi&family=Quicksand:wght@300..700&family=Special+Elite&family=Tilt+Neon&display=swap");

* {
  font-family: "Tilt Neon", sans-serif;
  margin: 0;
}
body {
  background-color: bisque;
}
