.recipeCard{
    background-color: orange;
    border-radius: 20px;
    padding: 10px 20px;
    height: fit-content;
    margin-left: 30px;
}
.nameImage{
    text-align: center;
}
.image{
    width: 100%;
    height: auto;
    border-radius: 20px;
}