.recipeCard{
    background-color: rgb(220, 135, 220);
    border-radius: 20px;
    width: 350px;
    margin: 10px auto;
    overflow: hidden;
    padding: 10px;
}
.image{
    width: 100%;
    height: auto;
    border-radius: 20px;
}