.recipeCard {
  background-color: beige;
  border-radius: 20px;
  width: 850px;
  height: fit-content;
  margin: 30px auto;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
  padding: 15px 30px;
  cursor: default;
}
.nameAndFavorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameAndFavorite h1 {
  font-size: 45px;
  margin-left: auto;
}
.heartSection{
  align-self: center;
  margin-left: auto;
}
.heart {
  cursor: pointer;
}
.imageAndIngredients {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.imgBox{
  padding-top: 40px;
  padding-right: 30px;
}
.image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px solid #333;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
}
.table {
  font-size: 20px;
  border: 1px solid #333;
  margin-top: 15px;
  width: 329px;
}
.table td {
  border: 1px solid #333;
  padding: 3px 10px;
}
.instructions h2 {
  padding: 10px 0;
}
.tagsAndCategories {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 0;
}
.tags {
  margin-top: auto;
}
.categories {
  text-align: end;
}
.closeBtn{
  background-color: beige;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}
