.recipeCard {
  background-color: beige;
  border-radius: 20px;
  height: fit-content;
  margin-left: 30px;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
}
.nameImage {
  position: relative;
}
.nameImage h1 {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  color: whitesmoke;
  font-size: 3em;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.catAndIng {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.catAndIng h2 {
  padding-bottom: 10px;
}
.categories {
  text-align: end;
}
.heart {
  cursor: pointer;
}
.textSection {
  padding: 0 20px 10px 20px;
}
.table {
  font-size: 20px;
  /* background-color: rgb(255, 193, 79); */
  border: 1px solid #333;
}

.table td {
  border: 1px solid #333;
  padding: 3px 10px;
}
.ingredients {
  font-weight: bold;
}
.instructions h2 {
  padding: 10px 0;
}
.tags {
  text-align: end;
}
