.recipeCard {
  /* background-color: rgb(220, 135, 220); */
  background-color: whitesmoke;
  border-radius: 20px;
  width: 400px;
  margin: 30px auto;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
}
.imgSection {
  text-align: center;
}
.imgSection h2 {
  font-size: 35px;
  /* color: #333; */
}
.image {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.btnSection {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 10px;
}
.viewBtn {
  cursor: pointer;
  background-color: orange;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: beige;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
}
.viewBtn:hover {
  background-color: rgb(251, 196, 95);
}
.ratingSection{
  display: flex;
}
.ratingSection p{
  margin-right: 5px;
}