.inputContainer {
  margin-bottom: 30px;
  width: 400px;
}
.input {
  background-color: beige;
  border: 1px inset pink;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
