.inputContainer{
    margin: 20px;
    width: 300px;
    position: relative;
    
}
.input{
    background-color: beige;
    border: 1px inset pink;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}